{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
    <!-- Marketing messaging and featurettes
   ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#5D7962"/><image href="{{ asset('assets/img/v1033-a-04-a.jpg') }}" width="100%" height="100%"/></svg>
                <h2>Mobilité et Souplesse</h2>
							<p>
								L'agilité et la souplesse sont des éléments clés de la santé physique. Ce volet met
								l'accent sur des exercices axés sur l'amélioration de la mobilité articulaire et de la
								flexibilité musculaire, contribuant ainsi à une plus grande liberté de mouvement.
							</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#5D7962"/><image href="{{ asset('assets/img/v1033-a-04-a.jpg') }}" width="100%" height="100%"/></svg>
                <h2>Renforcement Postural</h2>
							<p>
								Explorez l'importance du renforcement musculaire ciblé pour améliorer votre posture et
								prévenir les douleurs. Ce parcours vous guidera à travers des séances spécifiques
								visant à renforcer les muscles essentiels, favorisant ainsi une posture saine au
								quotidien.
							</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#5D7962"/><image href="{{ asset('assets/img/v1033-a-04-a.jpg') }}" width="100%" height="100%"/></svg>
                <h2>Réadaptation Active</h2>
							<p>
								Destiné aux personnes en processus de rétablissement post-chirurgical ou suite à une
								blessure, ce parcours propose des exercices adaptés pour favoriser une récupération sûre
								et efficace, encadrée par des conseils professionnels.
                            </p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Séances individuelles</h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="assets\img\Beige Minimalist Price List Instagram Story (1).png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" alt="Séances Individuelles">
            </div>
        </div>  

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Séances collectives</h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="assets\img\Beige Minimalist Price List Instagram Story.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" alt="Séances Individuelles">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Bilan</h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">


    <!-- /END THE FEATURETTES -->
{% endblock %}