{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block content %}
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44185.702688285106!2d-0.9672111500000001!3d46.1983903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48014abeaeaec79f%3A0x160926a34fd811e1!2s17540%20V%C3%A9rines!5e0!3m2!1sfr!2sfr!4v1714388531639!5m2!1sfr!2sfr" width="1100" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="recent" style="margin-top: 10px;">
					<h3>Contactez-moi</h3>
				</div>
				<form role="form" method="post">
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email" required>
					</br><input type="text" class="form-control" id="exampleInputFirstName" placeholder="Nom" name="lastname" required>
				</br><input type="text" class="form-control" id="exampleInputName" placeholder="Prénom" name="firstname" required>
			</div>
			<textarea class="form-control" rows="6" name="commentaires" required></textarea>
			<button type="submit" class="btn btn-default" name="envoyer" style="border: 1px solid #000; margin-top: 10px;">Envoyer</button>
		</form>

	</div>

	<div class="col-lg-6">
		<div class="recent"></div>
		<div class="" style="margin-top: 20px;">
			<p>Je suis à votre écoute. Que vous ayez des questions sur mes services, que vous souhaitiez prendre rendez-vous ou 
										obtenir des informations sur mes séances, je suis là pour vous aider. Votre bien-être est ma priorité, et je tiens 
										à ce que votre expérience soit la plus agréable et la plus sûre possible.</p>
			<p>Vous pouvez utiliser le formulaire de contact pour me faire part de vos besoins. Remplissez simplement vos coordonnées et 
										votre message, et je vous répondrai dans les plus brefs délais.
										N'hésitez pas à me contacter si vous avez des questions sur vos pathologies, des préoccupations à propos de vos 
										rendez-vous ou pour toutes autres questions. Votre retour m'aide à mieux vous aider.</p>
			<p>Merci de me faire confiance pour votre santé. J'ai hâte de vous aider à rester en bonne santé et à vous 
										sentir bien.</p>
			<p>Adeline</p>

		</br>
		<h6>Adresse: 21, rue de la Fontaine Pastour, 17540 Verines</h6>
	</br>
	<h6>Telephone: +33 6 22 87 91 79</h6>
</br><br></div></div></div></div>{% endblock %}
